.profile-friend {
    &-container {
        background-color: #fff;
        border-radius: 8px;
        padding: 14px 16px;
        box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
        margin-bottom: 12px;
        position: sticky;
        top: 126px;
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &-list {
        display: grid;
        width: 100%;
        gap: 24px 12px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-bottom: 40px;
    }

    &-item {
        height: 120px;
        img {
            height: 100%;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }

        span {
            font-weight: 600;
            color: inherit;
            font-size: 12px;
        }
    }
}

@media (max-width: 820px) {
    .profile-friend {
        &-item {
            height: 210px;
        }
    }
}
