$bg-color: #f0f2f5;
$text-color: #1c1e21;
$gray-color: #8a8d91;
$black-color: hsl(0deg 0% 16%);
$heading-color: hsl(220deg 3% 41%);
$blue-color: hsl(214deg 89% 52%);
$white-color: white;
$icon-color: hsl(223deg 15% 91%);

$font: "Segoe UI";
