@import "antd/dist/antd.css";
@import "./variable";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: $bg-color;
    color: $text-color;
}

.popover {
    display: none;
    transition-delay: 1s;
}
.group-item:hover .popover {
    display: block;
}

.profile-head {
    font-size: 20px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100rem;
}
// :hover::-webkit-scrollbar-track {
//     background: #ccc;
// }
:hover::-webkit-scrollbar-thumb {
    background: #ccc;
}

// .slider {
//     background: red;
//     color: white;
//     width: 300px;
//     height: 300px;
//     display: flex;
//     overflow-x: auto;
//   }
//   .slide {
//     width: 300px;
//     flex-shrink: 0;
//     height: 100%;
//   }
.group-for-me::-webkit-scrollbar {
    width: 8px;
}

.group-for-me::-webkit-scrollbar-track {
    background: transparent;
}

.group-for-me::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100rem;
}
// :hover::-webkit-scrollbar-track {
//     background: #ccc;
// }
.group-for-me:hover:-webkit-scrollbar-thumb {
    background: #ccc;
}