.popover {
    &-container {
        font-family: inherit;
        display: flex;
        flex-direction: column;
        gap: 13px 0;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 0 12px;
        padding: 6px 10px;
        border-radius: 6px;
        cursor: pointer;

        p {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
        }

        &:hover {
            background-color: #f0f2f5;
        }
    }
}
