@import "../../../../assets/style/variable";

.navigate-sticky {
    position: sticky;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: $white-color;
    font-family: inherit;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

    &-profile {
        max-width: 1063px;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $heading-color;
        border-top: 1px solid #ccc;
        font-family: inherit;
    }

    &-react {
        margin: 3px 0;
        display: flex;
        align-items: center;
        gap: 0 2px;
    }

    &-item {
        padding: 14px 16px;
        font-size: 16px;
        font-weight: 600;
        color: inherit;
        cursor: pointer;

        &:hover {
            background-color: rgb(238, 237, 237);
            border-radius: 6px;
            color: $heading-color;
        }
        &:nth-child(4),
        &:nth-child(5) {
            display: none;
        }
    }

    &-btns {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0 10px;
        flex-shrink: 1;

        &-item {
            display: flex;
            align-items: center;
            gap: 0 6px;
            padding: 6px 8px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;

            &:nth-child(1) {
                background: $blue-color;
                color: $white-color;

                svg {
                    height: 20px;
                    width: 20px;
                    fill: $white-color;
                }
            }
            &:nth-child(2) {
                background: rgb(235, 226, 226);
                color: hsl(0deg 0% 2%);

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

.sticky-item-active {
    color: $blue-color;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: $blue-color;
        width: 100%;
        height: 3px;
        bottom: -3px;
        left: 0;
    }
}
