.group-feel {
    &-main {
        display: flex;
        gap: 0 12px;
        max-width: 956px;
        padding: 0 16px;
        margin: 0 auto;
    }

    &-post {
        padding-top: 48px;
    }

    &-button {
        display: none;
    }
}

@media (max-width: 1200px) {
    .group-feel {

        &-main {
            margin-top: 60px;
            display: flex;
            flex-direction: column-reverse;
            gap: 12px 0px;
            padding: 0 6%;
        }

        &-post {
            padding-top: 0;
        }

        &-groups {
            display: none;
        }

        &-button {
            margin-top: 12px;
            padding: 6px 0;
            display: block;
            border-radius: 8px;
            background-color: rgb(57, 184, 243);
            color: white;
            text-align: center;
        }
    }
}