@import "../../assets/style/variable";

.header {
    &-container {
        position: fixed;
        top: 0;
        display: flex;
        z-index: 1000;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 4.25rem;
        background-color: $white-color;
        border-right: 1px solid $icon-color;
    }

    &-logo {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100rem;
        margin-top: 1.25rem;
    }

    &-search {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        background: $icon-color;
        border-radius: 100rem;
        cursor: pointer;
    }

    &-noti {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100rem;
            background: $icon-color;
            cursor: pointer;
        }
    }

    &-line {
        height: 1.3px;
        width: 2.8rem;
        background: $icon-color;
        margin: 1rem 0;
    }

    &-groups {
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3.2rem;
            width: 3.2rem;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background: $bg-color;
            }
        }

        &-image {
            height: 2.5rem;
            width: 2.5rem;
            overflow: hidden;
            border-radius: 8px;
            border: 1px solid $icon-color;
        }
    }

    &-info {
        position: absolute;
        bottom: 1rem;
        height: 2.8rem;
        width: 2.8rem;
        border-radius: 100rem;
        overflow: hidden;
        border: 1px solid $icon-color;
        cursor: pointer;
    }
}