@import "../../../assets/style/variable";

@mixin configItem($corlor) {
    padding: 8px 10px;
    border-radius: 8px;
    color: $corlor;
    font-weight: 500;
}

@mixin heading {
    font-size: 20px;
    font-weight: 700;
}

.navigate-home {
    &-container {
        padding-left: 8px;
        font-family: inherit;
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 0 12px;
        padding: 8px 0;
        padding-left: 7px;
        border-radius: 8px;
        cursor: pointer;

        span {
            font-family: inherit;
            font-size: 15px;
            font-weight: 600;
            color: $text-color;
        }

        div {
            height: 35px;
            width: 35px;
            border-radius: 100rem;
            background: #e2e3e6;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                font-size: 18px;
                fill: $text-color;
            }
        }

        &:hover {
            background: #e9eaee;
        }
    }

    &-avatar {
        height: 35px;
        width: 35px;
        border: 1px solid #ccc;
        border-radius: 100rem;
    }

    &-shortcuts {
        &-title {
            font-size: 18px;
            padding-left: 8px;
            font-weight: 600;
            color: $heading-color;
        }
    }

    &-line {
        border-bottom: 1px solid #d6d1d1;
        margin-bottom: 26px;
        margin-left: 8px;
    }
}
