@import "../../assets/style/variable";
$text-color: hsl(220deg 3% 41%);

.post {
    &-container {
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
        font-family: $font;
    }

    &-header {
        display: flex;
        gap: 0 8px;
        padding: 12px 16px 8px 16px;

        img {
            height: 42px;
            width: 42px;
            border-radius: 100rem;
        }
    }

    &-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
        }

        &-name {
            font-weight: 600;
            font-size: 15px;
        }

        &-time {
            font-size: 12px;
            font-weight: 400;
        }

        &-tab {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            width: 36px;
            border-radius: 100rem;
            cursor: pointer;

            &:hover {
                background: #e9eaee;
            }
        }
    }

    &-main {
        padding: 0 16px;
        width: 100%;

        p {
            font-size: 16px;
        }
    }

    &-thumb {
        height: 100%;
        max-height: 700px;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-react {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-color;
        padding: 8px 16px;

        &-item {
            display: flex;
            align-items: center;
            gap: 0 5px;

            img {
                height: 18px;
                width: 18px;
            }
        }
    }

    &-actions {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        border-top: 1px solid #ccc;
        padding: 6px 0;
        margin: 0 16px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 6px;
            color: $text-color;
            font-weight: 500;
            padding: 6px 0;
            border-radius: 6px;
            cursor: pointer;

            i {
                opacity: 0.6;
            }

            &:hover {
                background-color: #e9eaee;
            }
        }
    }

    &-comment {
        display: flex;
        align-items: center;
        gap: 0 8px;
        padding: 12px 0;
        border-top: 1px solid #ccc;
        margin: 0 16px;

        input {
            padding: 6px 8px;
            outline: none;
            border: none;
            width: 100%;
            background-color: #f1f3fa;
            border-radius: 100rem;
        }
    }
}
