.stories-create {
    &-frames {
        background: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        height: calc(100% - 120px);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &-image {
        z-index: 1;
        height: 100%;
        width: 300px;
        margin: 0 auto;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(2);
            transition: all 0.2s ease-in-out;
        }
    }
}
