@import "../../../assets/style/variable";

.header-group {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;
    height: 72px;
    width: 100%;
    padding: 0 3.5rem;

    &-conversation {
        padding: 6px 12px;
        background-color: $blue-primary;
        border-radius: 100rem;

        span {
            font-size: 0.9rem;
            font-weight: 600;
            color: $blue-color;
        }
    }

    &-search {
        padding: 8px 14px;
        background: $bg-color;
        border-radius: 8px;
    }
}
