@import '../../../assets/style/variable';

.c-preview {
    &-container {
        // height: 624px;
        overflow-y: scroll;
    }

    &-header {
        background: $bg-color;
    }

    &-main {
        // margin-top: 12px;
        position: relative;
        padding: 12px 14px;
        background: $bg-color;
    }

    &-coast {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.6);
    }
}