@import '../../../assets/style/variable';

.c-preview {
    &-container {
        max-height: 620px;
        overflow-y: scroll;
    }

    &-header {
        background: $bg-color;
    }

    &-main {
        // margin-top: 12px;
        padding: 12px 14px;
        background: $bg-color;
    }
}